#todoBox {
    height: 500px;
}

#todoBox header, #todoBox footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}

#todoBox section {
    text-align: left;
    color: #000;
}

.completed {
    color: #aaa;
    text-decoration: #aaa line-through;
}

.idData {
    display: none;
}

body {
    text-align: center;
}

#todoBox {
    display: inline-grid;
    grid-template-rows: 20% 60% 20%;
    border: 1px solid black;
}
